/*************************** 
*Rules 
***************************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*************************** 
*end Rules
***************************/


/*************************** 
*Utility
***************************/
.clerfix::after{
    content: "";
    display: table;
    clear: both;
}

.contain{
    width: 70%;
    margin: auto;
}

.nav_txt{
    color: #32495B;
    font-size: 0.6rem;
}

a, i, #m_glass{
    cursor: pointer;
} 

hr{
    color: #33485B;
    background: #33485B;
    border: 0;
    height: 0.1rem;
}
/*************************** 
* end Utility
***************************/


/***************************
* Bottom
***************************/
.button{
    text-decoration: none;
    border: 0.1rem solid #FE775A;
    border-radius: 0.3rem;
    background-color: #FE775A;
    color: #F4F9FD; 
    padding: 0.8rem 1.5rem; 
}

#login_btn{
    margin: 0 1rem;
    color: #FE775A;
    background-color: #F4F9FD;
}

#top_ghf_btn, #login_btn{
    padding: 0.5rem 0.5rem;
}
/***************************
* end Bottom
***************************/


/***************************
* Header
***************************/
.nav_txt{
    color: #32495B;
    font-size: 0.8rem;
}

.nav_link{
    text-decoration: none;
    color: #32495B;
    padding-left: 1rem;
}


.top_nav{
    background-color: #F4F9FD;
}

.top_nav, .bottom_nav {
    width: 100%;
    height: 80px;
}

.top_nav_dx{
    text-align: right;
    padding-top: 1.9rem;
}

.top_nav_sx, .bottom_nav_dx{
    padding-top: 2rem;
}

.top_nav_sx, .top_nav_dx, .bottom_nav_sx, .bottom_nav_dx{
    float: left;
    width: 50%;
    height: 3rem;
    display: inline-block;
}

.bottom_nav_dx{
    text-align: right;
}

.bottom_nav_sx{
    padding-top: 1.5rem;
}

#m_glass{
    height: 0.8rem;

}

/* Jumbotron */
.jumbo_contain{
    width: 45%;
    display: inline-block;
}

.jumbo_img{
    height: 610px;
    background-image: url(../img/jumbotron.png);
    background-size: 100% 114%;
    background-repeat: no-repeat;
}

.jumbo_txt{
    text-align: left;
    line-height: 2em;
    padding: 2rem 0 3rem 0;
}

#jumbo_title{
    font-weight: bold;
    font-size: 2rem;
    padding-top: 5rem;
    line-height: 2.5rem;
    color: #33475B;
}

.jumbo_contain p:last-child{
    font-size: 0.7rem;
    margin-top: 3rem;
}
/* end Jumbotron */

#end_header{
    height: 80px;
    background-color: #AFEBE4;
    border-top: 0.2rem solid #33475B;
    border-bottom: 0.2rem solid #33475B;
}

/* after&before Header */
#contact::before{
    content: '';
    width: 0.07rem;
    height: 0.7rem;
    background-color: #808080;
    display: inline-block;
    margin-right: 1.2rem;
}
/* end after&before Header */

/***************************
* end Header
***************************/


/***************************
* Main
***************************/
.first_main_contain{
    width: 100%;
    height: 1500px;
    background-color: #95c551;
}




/***************************
* end Main
***************************/

