/*************************** 
*Rules 
***************************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*************************** 
*end Rules
***************************/


/*************************** 
*Utility
***************************/
.clerfix::after{
    content: "";
    display: table;
    clear: both;
}

.contain{
    width: 70%;
    margin: auto;
}

.nav_txt{
    color: #32495B;
    font-size: 0.6rem;
}

a, i, #m_glass{
    cursor: pointer;
} 

hr{
    background: #33485B;
    border: 0;
    height: 0.1rem;
}

.center{
    text-align: center;
    line-height: 2em;
}

h2, h3{   
    color: #33475B;
    font-weight: bold;
}

h2{
    padding-bottom: 1rem;
}

.white_h2{
    color: #ffffff;
    width: 90%;
    margin: auto;
    padding-top: 2.8rem;
    padding-bottom: 2rem;
}

h3{
    padding-bottom: 2rem;
}

.uppercase{
    text-transform: uppercase;
    font-size: 1rem;
    padding-top: 1rem;
}

.box_shadow{
    box-shadow: 0 0 0.5rem #E6ECF1;
    border-radius: 0.3rem;
}

ul{
    list-style: none;
    text-align: left;
}

#white_txt{
    color: white;
    line-height: 1.5rem;
}

#login_btn:hover{
    background-color: #fcc0b3c1;
}

.button:hover{
    background-color: #fcc0b3c1;

}

.nav_link:hover{
    color: #7EBEC8;
    border-bottom: 1px solid #7EBEC8;
}

.copyright{
    display: block;
    line-height: 5px; 
}

.bold{
    font-weight: bold;
}
/*************************** 
* end Utility
***************************/


/***************************
* Button
***************************/
.button{
    text-decoration: none;
    border: 0.1rem solid #fa7253;
    border-radius: 0.3rem;
    background-color: #FE775A;
    color: #F4F9FD; 
    padding: 1rem 1.5rem;
    cursor: pointer; 
}

#login_btn{
    margin: 0 1rem;
    color: #FE775A;
    background-color: #F4F9FD;
}

#top_ghf_btn, #login_btn{
    padding: 0.5rem 0.5rem;
}

#footer_btn{
    padding: 0.7rem 0.4rem;
    font-size: 0.8rem;
    background-color: #DADEE0;
    color: #32495B;
    border-color: #F8F9F9;
    margin: 0;
}

#footer_btn:hover{
    background-color: #eeeeee7e;
}
/***************************
* end Button
***************************/


/***************************
* Header
***************************/
.fa_user{
    margin-left: 1rem;
}

.nav_txt{
    color: #32495B;
    font-size: 0.8rem;
}

.nav_link{
    text-decoration: none;
    color: #32495B;
    margin-left: 1rem;
}


.top_nav{
    background-color: #F4F9FD;
}

.top_nav, .bottom_nav {
    width: 100%;
    height: 80px;
}

.top_nav_dx{
    text-align: right;
    padding-top: 1.9rem;
}

.top_nav_sx, .bottom_nav_dx{
    padding-top: 2rem;
}

.top_nav_sx, .top_nav_dx, .bottom_nav_sx, .bottom_nav_dx{
    float: left;
    width: 50%;
}

.bottom_nav_dx{
    text-align: right;
}

.bottom_nav_sx{
    padding-top: 1.5rem;
}

#m_glass{
    height: 0.8rem;
    vertical-align: middle;
}

/* Jumbotron */
.jumbo_contain{
    width: 45%;
    display: inline-block;
}

.jumbo_img{
    height: 610px;
    background-image: url(../img/jumbotron.png);
    background-size: 100% 114%;
    background-repeat: no-repeat;
}

.jumbo_txt{
    text-align: left;
    line-height: 2em;
    padding: 2rem 0 3rem 0;
}

#jumbo_title{
    font-weight: bold;
    font-size: 2rem;
    padding-top: 5rem;
    line-height: 2.5rem;
    color: #33475B;
}

.jumbo_contain p:last-child{
    font-size: 0.7rem;
    margin-top: 3.5rem;
}
/* end Jumbotron */

#end_header{
    height: 80px;
    background-color: #AFEBE4;
    border-top: 0.2rem solid #33475B;
    border-bottom: 0.2rem solid #33475B;
}
/***************************
* end Header
***************************/


/***************************
* Main
***************************/

/* CRM section */
#crm_section{
    height: 330px;
}

.first_main_contain, .second_main_contain{
    width: 100%;
    background-color: #F4F9FD;
}
.second_main_contain{
    height: 750px;

}

.main_txt{
    line-height: 2em;
}

#cube_img{
    height: 250px;
    padding-top: 3rem;
}

.cube_section{
    height: 420px;
    width: 50%;
}

#crm_sx{
    height: 330px;
    background-color: #ffffff;
    width: 30%;
    text-align: center;
    float: left;
}

#crm_dx{
    height: 330px;
    background-color: #ffffff;
    width: 70%;
    float: left;
    padding-top: 4rem;
}

.crm_img{
    height: 100px;
    margin: 4rem 2rem 2rem 2rem;
}
#crm_dx a{
    padding: 0 1rem 0 0;
}
/* end CRM section */

/* MSS section */
.mss_section{
    width: calc(90%/3);
    height: 650px;
    background-color: #ffffff;
    float: left;
    text-align: center;
    margin-top: 5%;
}

#c_col{
    margin-left: 5%;
    margin-right: 5%;
}

.mss_section img{
    margin-top: 1rem;
}

.mss_section p{
    width: 80%;
    margin: auto;
}

.main_ul a{
    padding-left: 2rem;
}

.lm_btn{
    margin-top: 4rem;  
}

.mss_section a:last-child{
    margin-top: 2rem;
    margin-bottom: 5rem;
}
/* end MSS section */

/* Numbers section */
.third_main_contain{
    width: 100%;
    height: 680px;
    float: left;
    background: linear-gradient(to right, #00A9BA, #00BBA8);
    text-align: center;
}

.four_column{
    width: 100%;
    height: 345px;
    margin-top: 3rem;
}
 .column{
    height: 50%;
    width: 25%;
    float: left;
 }

 .top_column{
     border-bottom: 0.1rem solid #ffffff77;
 }

 .bottom_column, .top_column{
    border-right: 0.1rem solid #ffffff77;
 }

 .no_border{
    border-right: 0;
}
 .numbers_img{
     margin-top: 1.2rem;
     margin-bottom: 1rem;
     height: 2rem;
 }

 .number_txt{
     color: #ffffff;
     font-size: 0.8rem;
     padding-top: 1rem;
 }          

 .white_number{
     color: #ffffff;
     font-size: 2.2rem;   
 }

 #growth_img{
     height: 1.5rem;
     margin-top: 1.8rem;
 }
/* end Numbers section */

/* Sponsor section */
.fourth_main_contain{
    width: 100%;
    height: 650px;
    text-align: center;
    padding-top: 3rem;
    float: left;
}

.sponsor_txt{
    width: 40%;
    float: left;
    padding-left: 4.5rem;

}

.sponsor_img_contain{
    width: 60%;
    float: left;  
}

.sponsor_img{
    height: auto;
    width: 6.5rem;
    margin: 1rem 1.5rem 1.5rem 1rem ;
    vertical-align: middle;
    
}
/* end Sponsor section */

/* Woman section */
.woman_section{
    width: 100%;
    float: left;
}

.woman_section_sx{
    width: 40%;
    float: left;
    text-align: left;
    padding-top: 5rem;
}

#box_woman{
    text-align: right;
    padding-top: 3rem;

}
/* end Woman section */

/* after&before Main */
#crm_uppercase::after{
    content: "";
    width: 23.5rem;
    height: 0.1rem;
    background-color: #899397;
    display: inline-block;
    margin-left: 4rem;
    margin-bottom: 0.3rem; 
}

.main_link::before{
    font-size: 0.6rem;
    content: '\2714';
    color: #ffffff;
    border-radius: 50%;
    padding: 0.08rem 0.2rem;
    margin-right: 0.9rem;
    background-color: #FE775A;  
}

.mss_section p::after{
    content: "";
    width: 100%;
    height: 0.1rem;
    background-color: #899397;
    display: inline-block;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.white_number::after{
    content: "+";
    color: #ffffff;
    font-size: 1.3rem;
    vertical-align: middle;
    padding-left: 0.2rem;
    
}
/* end after&before Main */

/***************************
* end Main
***************************/


/***************************
* Footer
***************************/
.page_footer{
    background-color: #32495B;
    width: 100%;
    height: 620px;
    float: left;
}

.h4_footer{
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 25px;
}

.footer_column{
    width: 25%;
    height: 420px;
    float: left;
}

.footer_txt{
    color: #ffffffab;
    font-size: 0.8rem;
    text-align: left;
    line-height: 35px;
}

.social:hover{
    color: #7EBEC8;
}

.social{
    color: #ffffffab;
    padding-top: 10px;
    padding-right: 22px;
}

.languages_container{
    text-align: center;
    margin-bottom: 2.5rem;
}

.languages_container::after{
    content: "";
    width: 100%;
    height: 0.1rem;
    background-color: #ffffffab;
    display: inline-block;
    margin-top: 0.3rem; 
}
/***************************
* end Footer
***************************/

#css_validator{
    margin-top: 20px;
    margin-left: 6px;
} 

/***************************
* Chat Bot
***************************/
/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background-size: 32px 32px;
    box-shadow: 0 0 0.3rem #414141dc;
    background-color: #425C77;
    background-image: url(../img/launcher-open-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: 1px solid #405a76;
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    right: 14px;
    outline:none
}

.open-button:focus{
    background-color: #7EBEC8;
    border: 2px solid #007f9072;  
}

/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 100px;  
    right: 15px;
    border: 3px solid #f1f1f1;
    border-radius: 15px;
    z-index: 9;
    box-shadow: 0 0 0.3rem #414141dc;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    height: 150px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
}

/* Full-width textarea */
.form-container textarea {
    width: 100%;
    height: 100px;
    padding: 15px;
    border: none;
    resize: none;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
    outline: none;  
} 

#close_btn{
    background-color: transparent;
    border: none;
    font-size: 20px;
    position: absolute; 
    top: 10px;
    right: 15px;
    cursor: pointer;  
}
/***************************
* end Chat Bot
***************************/

.no_link:hover{
    border: none;
    color: #32495B;
    cursor: default;
}


/***************************
* Dropdown
***************************/
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 106px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px 0px;
    z-index: 1;
    margin-top: 15px;
    border: 1px solid #7EBEC8;
    border-radius: 4px;
}
  
.dropdown:hover .dropdown-content {
    display: block;  
}

.rombo {
	width:15px;
	height:15px; 
	transform:rotate(45deg) skew(3deg, 3deg);
	background: white;
    border-left: 1px solid #7EBEC8;
    border-top: 1px solid #7EBEC8;
    position: absolute;
    top: -8.5px;
    right: 20px;
    border-top-left-radius: 3px;
}

.ul_drop{
    line-height: 30px; 
    text-align: left; 
    float: left;
}

.big{
    min-width: 630px;
    right: -40px;
} 

.extra_big{
    min-width: 850px;

}

.trecol{
    margin-right: 20px;
    padding: 10px 20px;
    line-height: 50px;
}

.trecol span{
    font-size: 15px;    
}

/***************************
* end Dropdown
***************************/
